<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dbproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launche"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dbproject.MainActivity"
            android:label="Expanse App" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.dbproject.DbView"
            android:label="DataBase" >
            <intent-filter>
                <action android:name="com.example.dbproject.DBVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.dbproject.AddDataToDb"
            android:label="Today's Expanse" >
            <intent-filter>
                <action android:name="com.example.dbproject.ADDDATATODB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.dbproject.AboutMe"
            android:label="About Me"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.dbproject.ABOUTME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.dbproject.ViewMonthExpanse"
            android:label="Month Expanse" >
            <intent-filter>
                <action android:name="com.example.dbproject.VIEWMONTHEXPANSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.dbproject.ViewDay"
            android:label="Day Expanse Expanse" >
            <intent-filter>
                <action android:name="com.example.dbproject.VIEWDAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
    </application>

</manifest>